<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <div id="centralni">
        <h1>Calculator</h1>
        <div id="calculator">
            <div class="rezultat">
                
            </div>
            <div class="vrsta">
                <div><button class="c funkcije">C</button></div>
                <div><button class="divide funkcije">/</button></div>
                <div><button class="eqaul funkcije">=</button></div>
            </div>
            <div class="vrsta">
                <div><button class="1 stevilka">1</button></div>
                <div><button class="2 stevilka">2</button></div>
                <div><button class="3 stevilka">3</button></div>
                <div><button class="sum funkcije">+</button></div>
            </div>
            <div class="vrsta">
                <div><button class="4 stevilka">4</button></div>
                <div><button class="5 stevilka">5</button></div>
                <div><button class="6 stevilka">6</button></div>
                <div><button class="minus funkcije">-</button></div>
            </div>
            <div class="vrsta">
                <div><button class="7 stevilka">7</button></div>
                <div><button class="8 stevilka">8</button></div>
                <div><button class="9 stevilka">9</button></div>
                <div><button class="multiply funkcije">X</button></div>
            </div>
        </div>
    </div>          
    <script src="/calculator/calculator.js"></script>
</body>
</html>